*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#0f172a;
  color:#e5e7eb;
}

nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 10%;
  background:#020617;
  position:sticky;
  top:0;
}

.logo{ color:#38bdf8; }

nav ul{
  display:flex;
  gap:20px;
}

nav ul li{ list-style:none; }
nav ul li a{
  color:#e5e7eb;
  text-decoration:none;
}

.nav-right{
  display:flex;
  gap:10px;
}

.hero{
  min-height:90vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.hero-card{
  background:#020617;
  padding:40px;
  border-radius:15px;
  text-align:center;
  max-width:700px;
}

.hero span{ color:#38bdf8; }

.section-card{
  margin:40px 10%;
  background:#020617;
  padding:40px;
  border-radius:15px;
}

.grid-2{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
}

.box{
  background:#0f172a;
  padding:20px;
  border-radius:12px;
}

.skill{ margin-bottom:15px; }

.bar{
  background:#1e293b;
  height:10px;
  border-radius:5px;
}

.bar span{
  display:block;
  height:10px;
  background:#38bdf8;
}

.btn{
  background:#38bdf8;
  color:#020617;
  padding:10px 20px;
  border-radius:6px;
  text-decoration:none;
}

.btn.outline{
  background:transparent;
  border:1px solid #38bdf8;
  color:#38bdf8;
}

.btn.small{
  display:inline-block;
  margin-top:15px;
  padding:8px 16px;
}

.btn-group{
  display:flex;
  gap:15px;
  justify-content:center;
  margin-top:20px;
}

.cert-list li{
  margin:10px 0;
}

footer{
  text-align:center;
  padding:20px;
  background:#020617;
  margin-top:40px;
}

/* RESPONSIVE */
.menu-btn{ display:none; }

@media(max-width:900px){
  .grid-2{ grid-template-columns:1fr; }
}

@media(max-width:768px){
  nav ul{
    display:none;
    position:absolute;
    top:60px;
    right:0;
    background:#020617;
    flex-direction:column;
    width:200px;
  }
  nav ul.show{ display:flex; }
  .menu-btn{ display:block; font-size:24px; }
}
